* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

.site-navigation ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: #333;
	display: flex;
	justify-content: center;
}

.site-navigation ul li a {
	display: block;	
	color: #f9f9f9;
	text-decoration: none;
	text-transform: uppercase;
	padding: 20px;
}

.site-navigation ul li a:hover {
	color: #fff;
	background-color: #4CAF50;
}

main {
	min-height: 600px;
	width: 100%;
}

footer {
	background-color: #fb4b4e;
}

.gradient {
  float: left;
  height: 400px;
  width: 100%;
  color: #fff;
}
.gradient{
  position: relative;
}

.gradient.top {
  background: linear-gradient(to bottom right, transparent 50%, #fb4b4e 50%) no-repeat, linear-gradient(to bottom right, transparent 0.1%, #fb4b4e 0.1%) no-repeat;
  background-size: 100% 40%, 100% 60%;
  background-position: 0% 0%, 0% 100%;
}

.gradient span{
  position: absolute;
}
.gradient.top span{
  top: calc(40% + 5px); /* background size + buffer */ 
  height: 50%;
  left: 0;
  right: 0;
  max-width: 960px;
  margin: 0 auto;
}